body {
  font-family: "Open Sans", Arial;
  font-size: 12px;
  min-width: 1920px;
  min-height: 2400px;  
  /*background: #1b1d32 url("../img/bg-header.jpg") no-repeat;*/
}

clearfix::after {
  content:"";
  display: table;
  clear: both;
}

}
.container {  
  width: 1142px;
  margin: 0 auto;
  padding: 0 15px;
}

.navigation {
  font-size: 13px regular;
  text-align: center;
  text-transform: uppercase;
  color: white;
  float: left;
  min-width: 878px;
  min-height: 103px;
}

.logo {
  padding-right: 273px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  
}

li {
  display: inline-block;  
}

a li {
  
}

.free-consultation1 {
  font-size: 12px bold;
  text-transform: uppercase;
  color: white;
  float: right;
  min-width: 222px;
  min-height: 103px;
}

.features {
  background-color: white;
}

.info {
  background-color: f7f7f7;
}














