.body {
  font-family: "Open Sans", Arial;
  font-size: 12px;
  min-width: 1920px;
  min-height: 2400px;  
  background-image: url ("../img/bg-header.jpg") no-repeat;
  background-color: 1b1d32;
}

.container {  
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /*background-color: 1b1d32;*/
}


.features {
  background-color: white;
}

.info {
  background-color: f7f7f7;
}